<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="@Url.Action("Index", "Home")">K&TKardach</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index", "Home")">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index", "Wedding")">Wedding</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index", "Baby")">Baby</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="@Url.Action("About", "Home")">About</a>
      </li>
    </ul>
  </div>
</nav>